<footer class="footer-group">
		<div class="company-outer-group">
			<div class="company-inner-group">
				<div class="logo-group"></div>
				<div class="detail-info-group">
					<div class="top-group">
						<ul class="links-group">
							<li><a href="#">关于大饭桌</a></li>
							<li><a href="#">创业课堂</a></li>
							<li><a href="#">寻求报道</a></li>
							<li><a href="#">创业礼包</a></li>
						</ul>
						<div class="focus-group">
							<p class="focus-title-group">关于我们：</p>
							<div class="focus-item-group">
								<span class="item-logo-group wx-logo-group"></span>
								<span class="item-text-group">xfz008</span>
							</div>
							<div class="focus-item-group">
								<span class="item-logo-group weibo-logo-group"></span>
								<span class="item-text-group">小饭桌创业课堂</span>
							</div>
						</div>
					</div>
					<div class="bottom-group">
						<p class="address-group">地址：北京市朝阳区东三环北路38号院1号楼17层2001内1、16室</p>
						<p class="contact-group">联系方式：400-810-1090（工作日10点-18点)</p>
					</div>
				</div>
			</div>
		</div>
		<p class="copyright-group">©2017 北京子木投资顾问有限公司 京ICP备15051289号-1</p>
	</footer>