

///////////////尺寸///////////////
// 容器的宽度
$container-width: 1170px;

// 主要容器的宽度
$main-container-width: 795px;

// 侧边栏容器的宽度
$side-container-width: 355px;


///////////////颜色///////////////
// 蓝色文字的颜色
$blue-text-color: #5b86db;

// 价格的字体颜色
$price-color: #f76363;

// 主要字体的颜色
$main-font-color: #202020;

// 辅助性字体的颜色
$assist-font-color: #696969;

// 正文字体的颜色
$body-font-color: #888;

// 线的颜色
$line-color: #ededed;

// 深的线的颜色
$line-dark-color: #ccc;

// 危险的字体颜色
$danger-text-color: #D9534F;

// 不可用状态的颜色
$disable-color: #ccc;


///////////////字体大小///////////////
// 一级字体大小
$l1-font-size: 24px;

// 二级字体大小
$l2-font-size: 20px;

// 三级字体大小
$l3-font-size: 18px;

// 四级字体大小
$l4-font-size: 16px;

// 五级字体大小
$l5-font-size: 14px;

// 六级字体大小
$l6-font-size: 12px;
